body {
    background-image: url(../images/quizbackground.jpg);
    font-family: "Labo", sans-serif;
    color: goldenrod;
    text-align: center;
}

/* --------- Heading */

.logo {
    width: auto;
    height: auto;
    padding-right: 5px;
}

/* --------- Game layout */

.welcome-area {
    background-color: black;
    box-sizing: border-box;
    width: 75%;
    height: 65vh;
    max-height: 600px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 6px;
    border-color: goldenrod;
    border-radius: 10px;
    padding: 1%;
}

.welcome-area a:link {
    color: goldenrod;
    text-decoration: none;
}

.welcome-area a:active {
    color: goldenrod;
    text-decoration: none;
}

.welcome-area a:visited {
    color: goldenrod;
    text-decoration: none;
}

.welcome-area a:hover {
    color: goldenrod;
    text-decoration: none;
}

#welcome {
    font-family: "Instrument Serif";
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #e8d9b8;
    letter-spacing: 4px;
    line-height: 2;
}

#onering {
    font-size: 100px;
}

.game-area {
    background-color: black;
    box-sizing: border-box;
    width: 75%;
    height: 80vh;
    max-height: 600px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 6px;
    border-color: goldenrod;
    border-radius: 10px;
    padding: 1%;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
font-size: 30px;
color: #e8d9b8;
font-weight: 600;
letter-spacing: 2px;
}

.btn {
    background: #e8d9b8;
    color: black;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
    border: 3px solid #974947;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background: goldenrod;
    color: white;
    border: 3px solid goldenrod
}

#next-btn {
    background: #974947;
    color: #e8d9b8;
    font-family: "Instrument Serif";
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 4px;
    width: 150px;
    border:  2px solid darkgray;
    border-radius: 4px;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}

#next-btn:hover {
    background: goldenrod;
    color: white;
    border:  2px solid goldenrod;
}