/* Background layout  */

body {
    background-image: url(../images/quizbackground.jpg);
    font-family: "Labo", sans-serif;
    color: goldenrod;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Quiz logo */

.logo {
    width: auto;
    height: auto;
    padding-right: 5px;
    margin-bottom: 34px;
    margin-top: 30px;
}

/* box div layout */

.welcome-area {
    background-color: black;
    box-sizing: border-box;
    width: 75%;
    height: 65vh;
    max-height: 600px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 6px;
    border-color: goldenrod;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 0 10px 10px black;
}

.welcome-area a:link {
    color: goldenrod;
    text-decoration: none;
}

.welcome-area a:active {
    color: goldenrod;
    text-decoration: none;
}

.welcome-area a:visited {
    color: goldenrod;
    text-decoration: none;
}

.welcome-area a:hover {
    color: goldenrod;
    text-decoration: none;
}

/* Welcome message */

#welcome {
    font-family: "Instrument Serif";
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #e8d9b8;
    letter-spacing: 4px;
    line-height: 2;
}

/* Button styling  */

#onering {
    font-size: 150px;
}

/* Game layout */

.game-area {
    background-color: black;
    box-sizing: border-box;
    width: 98%;
    height: 65vh;
    max-height: 600px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 6px;
    border-color: goldenrod;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 0 10px 10px black;
}

/* Quiz element stylings */

.quiz {
    padding: 20px 0;
}

#finalscore {
    font-size: 20px;
}

.game-area h1 {
    font-size: 20px;
    color: #e8d9b8;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 5px;
}

.answer-variables {
    background: #e8d9b8;
    color: black;
    font-size: 25px;
    font-weight: 550;
    width: 98%;
    border: 3px solid #974947;
    padding: 1px;
    margin: 10px 0;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s;
    letter-spacing: 6px;
}

.answer-variables:hover:not([disabled]) {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #fd7c00;
    transform: translateY(0.1rem);
    transition: transform 150ms;
    border: 3px solid goldenrod;
}

/* Stops the user from selecting more than one answer */

.answer-variables:disabled {
    cursor: no-drop;
}

/* Correct answer stylings */

.correct {
    background: #355e4c;
    border: 3px solid #355e4c;
    box-shadow: 0 0.4rem 1.4rem 0 #355e4c;
    color: white;
    cursor: no-drop;
}

/* Incorrect answer stylings */

.incorrect {
    background: #974947;
    border: 3px solid #974947;
    box-shadow: 0 0.4rem 1.4rem 0 #974947;
    color: white;
    cursor: no-drop;
}


/* Stylings for the Next Button, when styled as the "Play Again" button. */


#next-btn {
    background: #974947;
    color: #e8d9b8;
    font-family: "Instrument Serif";
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 4px;
    width: 355px;
    border: 2px solid darkgray;
    border-radius: 4px;
    padding: 0px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}


#next-btn:hover {
    background: goldenrod;
    color: white;
    box-shadow: 0 0.4rem 1.4rem 0 darkgray;
    border: 2px solid goldenrod;
}

#home-btn {
    background: black;
    color: goldenrod;
    border: 3px solid goldenrod;
    font-family: "Instrument Serif";
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 4px;
    width: 355px;
    border-radius: 4px;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    display: block;
    margin-top: 594px;
}


#home-btn:hover {
    background: goldenrod;
    color: white;
    box-shadow: 0 0.4rem 1.4rem 0 darkgray;
    border: 2px solid goldenrod;
}


#backgroundmusic {
    display: none;
}

/* Bonus page stylings */

#sax-btn {
    text-decoration: none;
    background: #974947;
    color: #e8d9b8;
    font-family: "Instrument Serif";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 4px;
    width: 355px;
    border: 2px solid darkgray;
    border-radius: 4px;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    display: block;
}


#sax-btn:hover {
    background: goldenrod;
    color: white;
    box-shadow: 0 0.4rem 1.4rem 0 darkgray;
    border: 2px solid goldenrod;
}

/* Bonus background gif stylings */

.gandalf {
    background-image: url(https://media.tenor.com/VOdWjm2zbEAAAAAC/gandalf-sax-guy.gif);
    height: 100vh;
    width: 100vw;
    width: 100vw;
    justify-content: center;
}

/* Media queries */


@media screen and (max-width: 768px) {
    .leaderboard {
        font-size: 22px;
    }
}

@media screen and (max-width: 425px) {

    .logo {
        margin-top: 120px;
        margin-bottom: 205px;
    }

    .welcome-area,
    .game-area,
    .score-area {
        width: 155%;
        height: 85vh;
    }


    #welcome {
        font-size: 48px;
    }

    .game-area h1 {
        font-size: 25px;
        margin-top: 45px;
    }

    .answer-variables {
        font-size: 35px;
        padding: 6px;
    }

    #next-btn {
        font-size: 25px;
    }

    .score-area h1 {
        font-size: 30px;
    }

    .leaderboard {
        font-size: 35px;
    }


    #sax-btn {
        font-size: 70px;
    }
}

@media screen and (max-width: 375px) {

    .welcome-area,
    .game-area,
    .score-area {
        width: 176%;
        height: 85vh;
    }
}


@media screen and (max-width: 320px) {

    .welcome-area,
    .game-area,
    .score-area {
        width: 208%;
        height: 85vh;
    }
}